body{
    background-color: white;
    
}
nav{
    text-transform: uppercase;
    font-family: PT Sans Narrow;
}
/*when you hover the tabs change to italics and background*/
.nav-link{
    font-weight: bold;
}
.nav-link:hover{
    font-style: italic;
    background-color: darkgrey;
}
header {
    /*sizing of the element*/
    height: 800px;
    width: 100%;
    background-image: url("shouto.png");
    background-size: cover;
    
    /*center the text*/
    text-align: center;
    
}
header p{
    font-style: italic;
    color: black
}
header h1{
    color:white;
}
.services i{
    text-align: center;
}
.services i{
    
    font-size: 30px;
    padding: 25px 20px;
    
    color: #000;;
    background-color: #789be2;
    
    width: 80px;
    height: 80px;
    
    border-radius: 50%;
}
.services span {
    width: 200px;
    display: inline-block;
}